@media (min-width: $screen-sm-min) {
	header {
		.navbar {
			border-width: 0;
		}
		.text-navbar-title {
			margin-top: 28px;
		}
		.sub-nav .active {
			position: relative;

			a {
				opacity: 1.0;
			}
		}
		.sub-nav a {
			opacity: 0.5;
		}
		.sub-nav .active::after {
			position: absolute;
			bottom: 0;
			left: 40%;
			content: ' ';
			@include arrow-up(#fff, 10px);
		}
	}
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	header {
		.sub-nav li:first-child a {
			padding-left: 0;
		}
	}
}

@media (max-width: $screen-sm-min) {
	header {
		.text-navbar-title {
			margin-left: 15px;
			@include font-size(1.8);
		}
		.bottom-nav-position {
			padding-top: 0px;
		}
		.text-navbar-title {
			margin-top: 23px;
		}
		.navbar-toggle {
			margin-bottom: 15px;
		}
		.sub-nav .label {
			left: 20px;
			top: 0;
		}
		li {
			margin-bottom: 10px;
		}
	}
}

@media (min-width: $screen-md-min) {
	header {
		.navbar-bottom {
			height: $header-nav-height;
		}
	}
}

@media (max-width: $screen-sm-max) {
	header {
		.bottom-nav-position {
			float: left !important; // override bootstrap important
		}
	}
}
