<!-- brand nav -->
<div class="container brand-nav">
	<nav class="navbar navbar-static-top navbar-bottom" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<a ui-sref="home">
				<div class="navbar-branding"></div>
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="navbar-collapse collapse" id="navbar_one">
			<ul class="nav navbar-top-links navbar-right top-nav-position">
				<li>
					<a href="" translate="HEADER.USER_NAME"></a>
				</li>
				<li>
					<a href="" translate="HEADER.ACCOUNT_NAME"></a>
				</li>
				<li>
					<a href="" translate="HEADER.PIN"></a>
				</li>
				<li>
					<a class="count-info" href="">
						<i class="fa fa-envelope"></i> <span class="label label-warning">16</span>
					</a>
				</li>
				<li>
					<a ui-sref="login" class="logout">
						<i class="fa fa-sign-out"></i>
						<span translate="HEADER.LOGOUT"></span>
					</a>
				</li>
			</ul>
		</div>
	</nav>
</div>

<!-- sub nav -->
<div class="sub-nav">
	<nav class="navbar navbar-static-top navbar-bottom" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button aria-controls="navbar" aria-expanded="false" data-target="#navbar_two" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
					<i class="fa fa-reorder"></i>
				</button>
				<div class="text-navbar-title">
					<h1 translate="HEADER.APP_NAME"></h1>
				</div>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="navbar-collapse collapse" id="navbar_two">
				<ul class="nav navbar-nav navbar-right bottom-nav-position">
					<li ui-sref-active="active">
						<a ui-sref="home" translate="HEADER.MAIN_MENU"></a>
					</li>
					<li>
						<a href="" translate="HEADER.DASHBOARD"></a>
					</li>
					<li>
						<a href="" translate="HEADER.ALL_BOOKINGS"></a>
					</li>
					<li>
						<a href="" translate="HEADER.ADDRESSES"></a>
					</li>
					<li>
						<a href="" translate="HEADER.PROFILE_LIST"></a>
					</li>

					<!--visible to small screens only -->

					<li class="visible-xs">
						<a href="" translate="HEADER.ACCOUNT_INFO"></a>
					</li>
					<li class="visible-xs p-w-sm">
						<a href="" translate="HEADER.USERNAME"></a>
					</li>
					<li class="visible-xs p-w-sm">
						<a href="" translate="HEADER.ACCOUNT_NAME"></a>
					</li>
					<li class="visible-xs p-w-sm">
						<a  href="" translate="HEADER.PIN"></a>
					</li>
					<li class="visible-xs p-w-sm">
						<a class="count-info" href="">
							<i class="fa fa-envelope"></i> <span class="label label-warning">16</span>
						</a>
					</li>
					<li class="visible-xs p-w-sm">
						<a ui-sref="login" class="logout">
							<i class="fa fa-sign-out"></i>
							<span translate="HEADER.LOGOUT"></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>


