$header-nav-height: 62px;

header {
	margin-bottom: 20px;
	background: #fff;

	.navbar {
		margin-bottom: 0;
	}
	.brand-nav {
		height: $header-nav-height;

		a {
			@include font-size($font-size-base);
			color: #b3b3b3;

			&:hover,
			&:focus {
				background-color: transparent;
			}
			&:hover {
				color: lighten($brand-quaternary, 20%);
			}
		}
		li {
			display: inline-block;
		}
		.logout {
			color: $brand-quaternary;
		}
		.top-nav-position {
			padding-top: 15px;
		}
		.bottom-nav-text {
			@include font-size(2.1);
		}
		.navbar-branding {
			background: url('../components/header/addisonLeeLogo.svg');
			background-size: auto auto;
			height: 42px;
			width: 238px;
			margin-top: 10px;
		}
		.count-info {
			position: relative;
		}
		.label {
			line-height: 12px;
			padding: 2px 5px;
			position: absolute;
			right: 3px;
			top: 1px;
			background-color: $brand-quaternary;
			font-weight: $font-weight-normal;
		}
	}

	.sub-nav {
		background-color: $subnav-bg;

		a {
			line-height: 10px;
			@include font-size(1.4);
			color: #fff;
			font-weight: $font-weight-normal;
		}
		.active a {
			font-weight: $font-weight-bold;
		}
		a:hover, a:focus {
			background: none;
			color: white;
			opacity: 0.8;
		}
		a:active{
			color: #fff;
			opacity: 0.8;
			font-weight: $font-weight-light;
		}
		a:active:after {
			border-color: transparent transparent $header-subnav-border;
			border-style: solid;
			border-width: 0 6px 6px;
			bottom: 0;
			content: ' ';
			height: 0;
			left: 50%;
			margin-left: -6px;
			position: absolute;
			width: 0;
			color: #fff;
		}
		h1 {
			@include font-size(2.1);
			color: #fff;
			font-weight: $font-weight-light;
			opacity: 0.8;
			display: inline-block;
			margin: 0;
		}
		.bottom-nav-position {
			padding-top: 22px;
		}
		.navbar-collapse {
			background-color: $subnav-bg;
		}
		.label {
			line-height: 12px;
			padding: 2px 5px;
			position: absolute;
			left: 30px;
			top: 5px;
		}
		.navbar-toggle {
			background-color: $brand-primary;
			color: #fff;
			padding: 6px 12px;
			@include font-size(1.4);
			margin-top: 15px;

			i {
				color: #fff;
			}
		}
	}
}

@import "media";
