@media (min-width: $screen-md-min) {
	.row {
		margin-left: -$gutter-size-desktop;
		margin-right: -$gutter-size-desktop;
	}

	[class*="col-"] {
		padding-left: $gutter-size-desktop;
		padding-right: $gutter-size-desktop;
	}
}
