.form-control {
	border-radius: 0px;
}

/*Radio styles */
.radio {
	padding-left: 20px; }
.radio label {
	display: inline-block;
	position: relative;
	padding-left: 5px; }
.radio label::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 17px;
	height: 17px;
	left: 0;
	margin-left: -20px;
	border: 1px solid #cccccc;
	border-radius: 50%;
	background-color: #fff;
	}
.radio label::after {
	display: inline-block;
	position: absolute;
	content: " ";
	width: 11px;
	height: 11px;
	left: 3px;
	top: 3px;
	margin-left: -20px;
	border-radius: 50%;
	background-color: #555555;
	-webkit-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	-o-transform: scale(0, 0);
	transform: scale(0, 0);
}
.radio input[type="radio"] {
	opacity: 0; }
.radio input[type="radio"]:focus + label::before {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px; }
.radio input[type="radio"]:checked + label::after {
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transform: scale(1, 1); }
.radio input[type="radio"]:disabled + label {
	opacity: 0.65; }
.radio input[type="radio"]:disabled + label::before {
	cursor: not-allowed; }
.radio.radio-inline {
	margin-top: 0; }

.radio-primary input[type="radio"] + label::after {
	background-color: $brand-secondary; }
.radio-primary input[type="radio"]:checked + label::before {
	border-color: $brand-secondary; }
.radio-primary input[type="radio"]:checked + label::after {
	background-color: $brand-secondary; }

/*checkbox */

.checkbox {
	padding-left: 20px; }
.checkbox label {
	display: inline-block;
	position: relative;
	padding-left: 5px; }
.checkbox label::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 17px;
	height: 17px;
	left: 0;
	margin-left: -20px;
	border: 1px solid #cccccc;
	border-radius: 3px;
	background-color: #fff;
	}
.checkbox label::after {
	display: inline-block;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0;
	top: 0;
	margin-left: -20px;
	padding-left: 3px;
	padding-top: 1px;
	font-size: 11px;
	color: #555555; }

.checkbox input[type="checkbox"]:focus + label::before {
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after {
	font-family: 'FontAwesome';
	content: "\f00c"; }
.checkbox input[type="checkbox"]:disabled + label {
	opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before {
	background-color: #eeeeee;
	cursor: not-allowed; }
.checkbox-primary input[type="checkbox"]:checked + label::before {
	background-color: $brand-secondary;
	border-color: $brand-secondary; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
	color: #fff; }



