html {
	font-size: 62.5%;
}

body {
	padding: 0;
	background: $body-bg;
	color: $body-color;
}

// give ui-view min height to ensure footer is sticky
[ui-view] {
	min-height: calc(100vh - 70px);
}

.column-layout {
	border: solid 1px #EAEAEA;
	background: #fff;
	overflow: hidden;
	margin-bottom: 18px;
	padding: $gutter-size-mobile 0;

	@media (min-width: $screen-md-min) {
		padding: $gutter-size-desktop 0;
	}
}

.inner-column-layout {
	background-color: $brand-tertiary;
	padding: $gutter-size-mobile;

	@media (min-width: $screen-md-min) {
		padding: $gutter-size-desktop;
	}
}

.title-icon {
	color: $title-icon-color;
	@include font-size(6.6);
}
.inline-icon {
	padding: 5px;
}

@media (min-width: $screen-lg-min) {
	.desktop-no-padding-right {
		padding-right: 0;
	}
}
