// point bootstrap and font awesome font path to bower components folder
$icon-font-path: "../node_modules/bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path:   "../node_modules/font-awesome/fonts";

// TODO remove this external http request
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700');

@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";

// brand
@import "brandVariables/addisonLee/brand";

@import "bootstrapOverride";

// common
@import "mixins";
@import "global";
@import "button";
@import "helpers";
@import "typography";
@import "table";
@import "forms";

// components
@import "../components/login/login";
@import "../components/header/header";
@import "../components/homeTile/homeTile";
@import "../components/footer/footer";
@import "../components/datePicker/datePicker";


