<h3 translate="NOTICE.TITLE"></h3>
<p><strong translate="NOTICE.EMPLOYEE_REMINDER"></strong></p>
<p translate="NOTICE.EMPLOYEE_REMINDER_COPY"></p>

<!-- TODO remove once app goes live-->
<p>
	<a ui-sref="styleGuide">Style guide</a>
</p>
