<div class="input-group">
	<input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="$ctrl.date"
		is-open="$ctrl.isOpen" datepicker-options="$ctrl.dateOptions" ng-required="true" close-text="Close"
		show-button-bar="false" />
	<span class="input-group-btn">
		<button type="button" class="btn btn-secondary" ng-click="$ctrl.open()">
			<i class="glyphicon glyphicon-calendar"></i>
		</button>
	</span>
</div>
