home-tile {
	img {
		margin: 15px auto;
		max-width: 100%;
	}
	a {
		color: inherit;
		transition: all .2s ease-in-out;
		font-weight: $font-weight-medium;
		@include font-size(1.4);

		&:hover {
			transform: scale(1.03);
		}
	}
}
