<div class="col-xs-4 col-sm-3 col-md-3 col-lg-3 text-center">
	<a ui-sref="{{ $ctrl.state }}" class="display-block">
		<img alt="{{ $ctrl.image }}" src="components/homeTile/images/{{ $ctrl.image }}.jpg" class="display-block">
		<strong class="display-block">{{ $ctrl.name }}</strong>
	</a>
</div>
