<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="login-wrapper">
				<div class="branding"> </div>
				<h1 class="text-center" translate="LOGIN.APP_NAME"></h1>
				<form role="form" action="#">
					<div class="form-group">
						<input type="email" class="form-control" placeholder="{{ 'LOGIN.USERNAME' | translate }}"
							required="">
					</div>
					<div class="form-group">
						<input type="password" class="form-control" placeholder="{{ 'LOGIN.PASSWORD' | translate }}"
							required="">
					</div>
					<button type="submit" class="btn btn-primary btn-block" ng-click="$ctrl.goTo()"
						translate="LOGIN.LOGIN_BTN"></button>
				</form>
				<div class="text-center m-top-20 m-bottom-15">
					<a class="small" ui-sref="forgotPassword" translate="LOGIN.FORGOT_PASSWORD"></a>
					<a class="small" ui-sref="createPassword" translate="LOGIN.NO_ACCOUNT"></a>
				</div>
				<a ui-sref="createPassword" class="btn btn-default btn-block" translate="LOGIN.CREATE_ACCOUNT"></a>
				<span class="small m-top-20" translate="LOGIN.COPYRIGHT"></span>
			</div>
		</div>
	</div>
</div>
