login {
	.branding {
		background-image: url("../../components/login/addisonLeeLogo.png");
		background-repeat: no-repeat;
		background-position: center;
		height: 120px;
	}

	h1 {
		@include font-size(2.4);
		padding-top: 60px;
		font-weight: $font-weight-light;
		color: #f3f3f4;
		margin-bottom: 10px;
	}

	.login-wrapper {
		padding-top: 118px;
		width: 300px;
		margin: 0 auto;
	}

	a {
		margin-bottom: 5px;
	}

	.small,
	.small:hover {
		@include font-size(1.1);
		color: #fff;
		display: block;
		text-align: center;
	}
}

.login-bg {
	background-image: url("../../components/login/loginSplashCarInterior.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}
