<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Addison Lee - Global Booking System</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<!-- build:css(.tmp) styles/main.css -->
<link rel="stylesheet" href="styles/main.css">
<!-- endbuild -->
</head>
<body ng-app="globalBookingSystemApp" ng-class="{ 'login-bg': $state.current.name === 'login' }" translate-cloak>
	<header ng-if="$state.current.name !== 'login'"></header>

	<div class="container">
		<div ui-view></div>
	</div>

	<footer ng-if="$state.current.name !== 'login'"></footer>

	<!-- build:js({.tmp,app}) scripts/scripts.js -->
	<!-- vendor-->
	<script src="node_modules/jquery/dist/jquery.min.js"></script>
	<script src="node_modules/angular/angular.js"></script>
	<script src="node_modules/angular-cookies/angular-cookies.js"></script>
	<script src="node_modules/angular-sanitize/angular-sanitize.js"></script>
	<script src="node_modules/angular-translate/dist/angular-translate.min.js"></script>
	<script src="node_modules/angular-translate/dist/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
	<script src="node_modules/angular-translate/dist/angular-translate-loader-partial/angular-translate-loader-partial.min.js"></script>
	<script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
	<script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="node_modules/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
	<!-- app -->
	<script src="scripts/app.js"></script>
	<script src="components/login/login.js"></script>
	<script src="components/header/header.js"></script>
	<script src="components/homeTile/homeTile.js"></script>
	<script src="components/noticeBoard/noticeBoard.js"></script>
	<script src="components/flightSearch/flightSearch.js"></script>
	<script src="components/footer/footer.js"></script>
	<script src="components/styleGuide/styleGuide.js"></script>
	<script src="components/datePicker/datePicker.js"></script>
	<!-- endbuild -->
</body>
</html>
