<div class="row">
	<div class="col-lg-8 desktop-no-padding-right">
		<!-- my booking tools -->
		<div class="column-layout">
			<h2 class="col-lg-12 m-bottom-0" translate="HOME_TILE.BOOKING_TOOLS.TITLE"></h2>
			<home-tile name="'HOME_TILE.BOOKING_TOOLS.TAKE_ME_HOME' | translate" state="'takeMeHome'"
				image="'takeMeHome'"></home-tile>
			<home-tile name="'HOME_TILE.BOOKING_TOOLS.PICKUP_AT_AIRPORT' | translate" state="'airportPickup'"
				image="'airportPickup'"></home-tile>
			<home-tile name="'HOME_TILE.BOOKING_TOOLS.DROP_AT_AIRPORT' | translate" state="'dropAtAirport'"
				image="'dropAtAirport'"></home-tile>
			<home-tile name="'HOME_TILE.BOOKING_TOOLS.BOOK_A_TO_B' | translate" state="'bookAToB'"
				image="'bookAToB'"></home-tile>
		</div>
		<!-- my bookings -->
		<div class="column-layout">
			<h2 class="col-lg-12 m-bottom-0" translate="HOME_TILE.MY_BOOKING.TITLE"></h2>
			<home-tile name="'HOME_TILE.MY_BOOKING.TRAVEL_HISTORY' | translate" state="'travelHistory'"
				image="'travelHistory'"></home-tile>
			<home-tile name="'HOME_TILE.MY_BOOKING.TRAVEL_PENDING' | translate" state="'travelPending'"
				image="'travelPending'"></home-tile>
			<home-tile name="'HOME_TILE.MY_BOOKING.FAVOURITE_JOURNEYS' | translate" state="'favouriteJourneys'"
				image="'favouriteJourneys'"></home-tile>
		</div>
		<!-- policy -->
		<div class="column-layout">
			<h2 class="col-lg-12 m-bottom-0" translate="HOME_TILE.POLICY.TITLE"></h2>
			<home-tile name="'HOME_TILE.POLICY.TITLE' | translate" state="'policy'"
				image="'policy'"></home-tile>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="column-layout">
			<notice-board class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></notice-board>
		</div>
	</div>
</div>
