$btn-default-color: $body-color;
$btn-default-bg: #F3F3F4;
$btn-default-bg-hover: $btn-default-bg;
$btn-default-border: $btn-default-bg;

$btn-primary-color: $body-color;
$btn-primary-bg: $brand-primary;
$btn-primary-bg-hover: #C7A321;
$btn-primary-border: $btn-primary-bg;

$btn-secondary-color: $body-color;
$btn-secondary-bg: $brand-secondary;
$btn-secondary-bg-hover: $brand-secondary;
$btn-secondary-border: $btn-secondary-bg;
