$brand-primary: #FEDB00;
$brand-secondary: #C1BA97;
$brand-tertiary: #f8f7ef;
$brand-quaternary: #c7a321;

$colorPalette:  (primary, $brand-primary)
				(secondary, $brand-secondary)
				(tertiary, $brand-tertiary)
				(quaternary, $brand-quaternary);

$body-bg: #F3F3F4;
$body-color: #494a43;

$subnav-bg: #494a43;
$header-subnav-border: #f3f3f4;

$title-icon-color: #e6e3d7;
