<div class="row">
	<div class="col-lg-12">
		<div class="column-layout">
			<div class="col-lg-12">
				<div class="inner-column-layout">
					<div class="inner-column-layout">
						<h1>Airport pickup - H1</h1>
						<h2>Airport pickup - H2</h2>
						<h3>Airport pickup - H3</h3>
						<h4>Airport pickup - H4</h4>
						<h5>Airport pickup - H5</h5>
						<h6>Airport pickup - H6</h6>

					<hr>
						<p>We’re so certain you won’t find the same high standards anywhere else, we’ve staked our reputation on it. Our continuing quality of service is our commitment to you. So no matter where or how you choose to travel, your journey with Addison Lee is one of life’s great constants.</p>
						<p>Our prices stay the same when you book, no surge charges at peak times</p>
						<p>We provide cars when you need them. Facilitating bookings up to 3 months in advance</p>
						<p>Average time to pick up on-demand in Central London is just 10 minutes</p>
					<hr>
						<p><strong>Strong text</strong></p>
						<p><a href="#">Default hyperlink</a></p>
						<p><a href="#" class="a-primary">Primary hyperlink</a> {.a-primary}</p>
						<p><a href="#" class="a-secondary">Secondary hyperlink</a> {.a-secondary}</p>
						<p><a href="#"><strong>Default strong hyperlink</strong></a></p>
						<p><a href="#" class="a-primary"><strong>Primary strong hyperlink</strong></a> {.a-primary}</p>
						<p><a href="#" class="a-secondary"><strong>Secondary strong hyperlink</strong></a> {.a-secondary}</p>
						<div>
							<p><i class="fa fa-map-marker fa-2x inline-icon text-color-secondary"/>Inline fontawesome style</p>
							<p><i class="fa fa-plane title-icon"></i>title fontawesome icon</p>
						</div>
					<hr>
						<h2>Primary buttons {.btn-default}</h2>
						<div>
							<button class="btn btn-default btn-xs" type="submit">Small button</button>
							<button class="btn btn-default" type="submit">Default button</button>
							<button class="btn btn-default btn-lg" type="submit">Large button</button>
						</div>
					<hr>
						<h2>Primary buttons {.btn-primary}</h2>
						<div>
							<button class="btn btn-primary btn-xs" type="submit">Small button</button>
							<button class="btn btn-primary" type="submit">Default button</button>
							<button class="btn btn-primary btn-lg" type="submit">Large button</button>
						</div>

						<div>
							<button class="btn btn-primary btn-xs">Button with Awesome Font <i class="fa fa-search"></i> </button>
							<button class="btn btn-primary">Button with Awesome Font <i class="fa fa-search"></i> </button>
							<button class="btn btn-primary btn-lg">Button with Awesome Font <i class="fa fa-search"></i> </button>
						</div>
					<hr>
						<h2>Secondary buttons {.btn-secondary}</h2>
						<div>
							<button class="btn btn-secondary btn-xs" type="submit">Small button</button>
							<button class="btn btn-secondary" type="submit">Default button</button>
							<button class="btn btn-secondary btn-lg" type="submit">Large button</button>
						</div>
					<hr>
						<div class="row">
							<div class ="col-md-4">
								<div><input class="form-control input-sm" type="text" placeholder="small input"></div>
							</div>
							<div class ="col-md-4">
								<div><input class="form-control" type="text" placeholder=".input-sm"></div>
							</div>
							<div class ="col-md-4">
								<div><input class="form-control input-lg" type="text" placeholder=".input-sm"></div>
							</div>
						</div>
					<hr>
						<div class="row">
							<div class ="col-md-4">
								<select class="form-control input-sm">
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>50</option>
								</select>
							</div>
							<div class ="col-md-4">
								<select class="form-control">
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>50</option>
								</select>
							</div>
							<div class ="col-md-4">
								<select class="form-control input-lg">
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>50</option>
								</select>
							</div>
						</div>
					<hr>
						<h2>Inline form</h2>
						<div class="row">
							<form class="col-md-4 form-inline">
								<div class="form-group">
									<label for="exampleInputName2">Name</label>
									<input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
								</div>
							</form>
						</div>
					<hr>
						<h2>Basic form</h2>
						<strong class="m-bottom-5 display-block">Date picker</strong>
						<date-picker></date-picker>
						<hr />

						<div class="row">
							<div class="col-md-6">
								<form>
									<div class="form-group">
										<label for="exampleInputEmail1">Email address</label>
										<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
									</div>
									<div class="form-group">
										<label for="exampleInputPassword1">Password</label>
										<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
									</div>

								</form>
							</div>
						</div>
					<hr>
						<h2>Table</h2>

						<div class="row">
							<div class="col-xs-12 col-md-12">
								<div class="table-responsive">
									<table class="table table-striped table-hover">
										<thead>
										<tr>
											<th>Flight number</th>
											<th>Expected time of arrival </th>
											<th>Airport/Terminal </th>
											<th>Arrival from </th>
										</tr>
										</thead>
										<tbody>
										<tr>
											<td>NY222</td>
											<td>16:30</td>
											<td>Heathrow Terminal 5</td>
											<td>Germany</td>
										</tr>
										<tr>
											<td>BA345</td>
											<td>10:30</td>
											<td>Heathrow Terminal 4</td>
											<td>New York</td>
										</tr>
										<tr>
											<td>QA865</td>
											<td>09:30</td>
											<td>Heathrow Terminal 4</td>
											<td>New York</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					<hr>
						<h2>Radio buttons</h2>
						<div class="radio">
							<input type="radio" name="radio1" id="radio1" value="option1" checked="">
							<label for="radio1">Default radio 1</label>
						</div>
						<div class="radio">
							<input type="radio" name="radio1" id="radio2" value="option2">
							<label for="radio2">Default radio 2</label>
						</div>
						<div class="radio radio-primary">
							<input type="radio" name="radio2" id="radio3" value="option1">
							<label for="radio3">Primary radio 1 {.radio-primary}</label>
						</div>
						<div class="radio radio-primary">
							<input type="radio" name="radio2" id="radio4" value="option2" checked="">
							<label for="radio4">Primary radio 2 {.radio-primary}	</label>
						</div>
					<hr>
						<h2>Checkbox</h2>

						<div class="checkbox">
							<input id="checkbox1" type="checkbox" ng-model="$ctrl.checkboxModel.value1">
							<label for="checkbox1">Default</label>
							<span>: value1 = {{$ctrl.checkboxModel.value1}}</span>
						</div>
						<div class="checkbox checkbox-primary">
							<input id="checkbox2" type="checkbox" ng-model="$ctrl.checkboxModel.value2" ng-true-value="'YES'" ng-false-value="'NO'">
							<label for="checkbox2">Primary {.checkbox-primary}</label>
							<span>: value1 = {{$ctrl.checkboxModel.value2}}</span>
						</div>
					<hr>
						<h2>class helpers</h2>
						<ul>
							<li>Margin top - {.m-top-x} - eg .m-top-10</li>
							<li>Margin bottom  - {.m-bottom-x} eg .m-bottom-10</li>
							<li>Margin right - {.m-right-x} eg .m-right-10</li>
							<li>Margin left  - {.m-left-x} eg .m-left-10</li>
						</ul>
						<ul>
							<li>Padding top - {.p-top-x} - eg .p-top-10</li>
							<li>Padding bottom  - {.p-bottom-x} eg .p-bottom-10</li>
							<li>Padding right - {.p-right-x} eg .p-right-10</li>
							<li>Padding left  - {.p-left-x} eg .p-left-10</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-lg-12 m-top-15">
				<div class="inner-column-layout">
					<i class="fa fa-map-marker title-icon pull-right"></i>
					<h3>Destination</h3>
					<div class="row m-bottom-10">
						<div class ="col-md-6">
							<button class="btn btn-secondary btn-xs" type="submit">Airports</button>
							<button class="btn btn-secondary btn-xs" type="submit">Home </button>
							<button class="btn btn-primary btn-xs" type="submit">Office</button>
							<button class="btn btn-primary btn-xs" type="submit">Train Stations</button>
						</div>
					</div>
					<div class="row m-bottom-10">
						<div class ="col-md-6">
							<form>
								<div class="form-group">
									<input type="text" class="form-control"  placeholder="enter address">
								</div>

							</form>
						</div>
						<div class="col-md-2">
							<button class="btn btn-primary" type="submit">Find Address <i class="fa fa-search"/></button>
						</div>
					</div>
					<div class="row m-bottom-10">
						<div class ="col-md-8">
							<form class="form-inline">
								<div class="form-group">
									<label>at this time</label>
									<select class="form-control">
										<option>01</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
									</select>
								</div>
								<div class="form-group">
									<label>:</label>
									<select class="form-control">
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>50</option>
									</select>
								</div>
								<div class="form-group">
									<label>, please pick me up</label>
									<select class="form-control">
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>50</option>
									</select>
								</div>
							</form>
						</div>
					</div>
					<div class="row">
						<div class ="col-md-4">
							<i class="fa fa-map-marker fa-2x inline-icon text-color-secondary"/>
							<a href="#"><strong>Add another destination</strong></a>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>
</div>





