<div class="row m-bottom-10">
	<form role="form form-inline">
		<div class="col-md-2 form-group">
			<label>Arrival date</label>
			<input type="text" placeholder="Arrival date" class="form-control">
		</div>
		<div class="col-md-2 form-group">
			<label>Flight number</label>
			<input type="text" placeholder="Flight number" class="form-control">
		</div>
		<div class="col-md-2 form-group">
			<label>Airline</label>
			<input type="text" placeholder="Airline" class="form-control">
		</div>

		<div class="col-md-2 form-group">
			<label>Airport</label>
			<input type="text" placeholder="Airport" class="form-control" >
		</div>
	</form>
	<div class="col-md-2  m-top-23">
		<button class="btn btn-booking" type="submit">Find flight details <i class="fa fa-search"/></button>
	</div>
</div>
